<mat-toolbar>
    <mat-icon>account_circle</mat-icon>
    Contatos
</mat-toolbar>

<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>
                list
            </mat-icon>
            Todos
        </ng-template>

        <mat-card>
            <table mat-table [dataSource]="contatos" class="fullWidth">
                <ng-container matColumnDef="foto">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let contato" >
                        <div *ngIf="!contato.foto">
                            <input type="file" name="foto" (change)="uploadPhoto($event, contato)">
                        </div>
                        <div *ngIf="contato.foto">
                            <img width="50" height="50" (click)="visualizarContato(contato)"
                            src="data:image/jpg;base64,{{ contato.foto }}">
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let contato">{{contato.id}}</td>
                </ng-container>
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef>Nome</th>
                    <td mat-cell *matCellDef="let contato">{{contato.nome}}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>E-mail</th>
                    <td mat-cell *matCellDef="let contato">{{contato.email}}</td>
                </ng-container>
                <ng-container matColumnDef="favorito">
                    <th mat-header-cell *matHeaderCellDef>favorito</th>
                    <td mat-cell *matCellDef="let contato">
                        <a href="#">
                            <mat-icon (click)="favoritar(contato)">
                                {{contato.favorito ? 'favorite': 'favorite_border'}}
                            </mat-icon>
                        </a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="colunas"></tr>
                <tr mat-row *matRowDef="let row; columns: colunas"></tr>
            </table>
            <mat-paginator [length]="totalElementos" [pageSize]="size" [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)"></mat-paginator>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>
                face
            </mat-icon>
            Novo
        </ng-template>
        <mat-card class="halfWidth">
            <mat-card-title>Novo Contato</mat-card-title>
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <mat-form-field class="fullWidth">
                    <mat-label>Nome:</mat-label>
                    <input matInput type="text" placeholder="Digite Seu Nome" formControlName="nome">

                </mat-form-field>
                <mat-form-field class="fullWidth">
                    <mat-label>Email:</mat-label>
                    <input matInput type="text" placeholder="Digite Seu Email" formControlName="email">

                </mat-form-field>
                <div *ngIf="formulario.controls.nome.errors && !formulario.controls.nome.pristine">
                    <div *ngIf="formulario.controls.nome.errors.required">
                        Campo Nome é Obrigatorio
                    </div>
                </div>
                <div *ngIf="formulario.controls.email.errors && !formulario.controls.email.pristine">
                    <div *ngIf="formulario.controls.email.errors.required">
                        Campo Email é Obrigatorio
                    </div>
                    <div *ngIf="formulario.controls.email.errors.email">
                        Email Invalido
                    </div>
                </div>
                <button mat-raised-button [disabled]="!formulario.valid" color="primary" type="submit">Adcionar</button>
            </form>
        </mat-card>
    </mat-tab>
</mat-tab-group>