<mat-card style="text-align:center">
    <mat-card-header>
        <mat-card-title>
            <mat-icon>face</mat-icon>
            Contato
        </mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
        <img mat-card-image class="foto"
        src="data:image/jpg;base64,{{contato.foto}}"
        >
        <p>
            <strong>{{contato.nome}}</strong>
        </p>
        <p>
            <strong>{{contato.email}}</strong>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="fechar()">fechar</button>
    </mat-card-actions>
</mat-card>